
@{
    ViewBag.Title = "Email Enviado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h4>Confirme a sua conta.</h4>
<hr />
<div>
    <p>
        Enviamos um e-mail de confirmação para o endereço <b>@ViewBag.Email</b>
    </p>
</div>


